/* Write your code here. */
.outercontainer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innercontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  color: white;
  font-family: 'Roboto';
  font-size: medium;
  align-content: center;
}
