/* Write your CSS here */
.Container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  height: 30px;
  width: 90px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: small;
  border-color: #007bff;
  border-radius:3px;
}
span {
  color: #c20a72;
  font-size: 40px;
}
.heading {
  font-size: 40px;
  color: #2d3a35;
}
p {
  font-size:20px;
  font-family:"Roboto";
  font-style: normal;
  color: #2d3a35;
}
