/* Write your CSS here */
.container {
  background-color: #1e293b;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 100px;
  color: #f0bb03;
  font-family: 'Bree Serif';
}

p {
   font-family: 'Bree Serif';
   color:white;
   font-size:30px;
}

button {
  background-color: white;
  height: 40px;
  width: 100px;
  color: black;
  font-size: small;
  border-radius: 3px;
  border-color: white;
  font-family:"Bree Serif";
  font-weight:400;
}
